body
{

}

.backgroundImage {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-attachment: fixed;
}

.backgroundColor {
    background-color: rgba(31, 20, 20, 0.7);
}
.backgroundSize {
    width: 100%;
    padding: 17%;
}

.header-text-1 {
    font-family: "Oxygen", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 32px;   
    border: 2px solid white;
    color: white;
    width: 400px;
    padding: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -140px;
}

.header-text-2 {
    font-family: "Oxygen", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 32px;
    display: block;
    padding: 10px;
}

.p{
    font-size: 20px;
    margin-top: 15px;
}

.intro1 {
    font-size: 26px;
    text-align: center;
    display: block;
    color: white;
    margin-top: 150px;
}

.intro3 {
    font-size: 26px;
    text-align: center;
    display: block;
    color: black;
    margin-top: 50px;
}

.intro4 {
    font-family: 'Niconne', cursive;
    font-size: 50px;
    text-align: center;
    font-weight: 400;
    color: black;
}

.intro2 {
    font-family: 'Niconne', cursive;
    font-size: 65px;
    text-align: center;
    font-weight: 400;
    color: rgba(247, 202, 24, 1);
    
}


.niconne {
    font-family: 'Niconne', cursive;
    color: navy;
    font-size: 50px;
    margin: 0px 0px -10px;
    line-height: 1.5;
}

.welcome-image img{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
}

@media (min-width: 992px){
    .mtop{
        //margin-top: -17%;
        font-size: 23px;
        //width: 400px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .mtop{
        //margin-top: -15%;
        font-size: 19px;
        //width: 350px;
    }
}

@media (min-width: 576px) and (max-width: 768px){
    .mtop {
        //margin-top: -10%;
        font-size: 17px;
        //width: 300px;
    }
}

@media (max-width: 576px){
    .mtop{
        margin-top: 0px;
        font-size: 15px;
        //width: 250px;
    }
}

.hr{
    border: none;
    height: 2px;
    background-color: #f8bd08;
}

img {
       height: 300px; 
       width: 100%;
}

figure {
    height: 300px;
    width: 100%;
    position: relative;
    margin:0px;
}

figure:hover > figcaption {
    visibility: visible;
}

figcaption {
    background-color: rgba(31, 20, 20, 0.7);
    font-size: 15px;
    text-align: center;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    padding-top: 10%;
    visibility: hidden;
    color: white;
}

background-image {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px
}

.cbgi {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
    margin-top: 10px;
}


.navbar a:hover {
    background: black;
    color: white;
}

.button {
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: aqua;
    border-radius: 6px;
    opacity: 0.9;
}

.ts{
    color: white;
    text-align:center;
}

.niconne1 {
    font-family: 'Niconne', cursive;
    font-size: 65px;
    text-align: center;
    font-weight: 400;
}

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.containerTab {
    padding: 20px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.a {
    background-color: lightgrey;
    width: auto;
    height:300px;
    border: 15px solid green;
    position:fixed;
}

